.gradle

#git submodules
fp-event-queue/

#but inclide the libs folder of build. yeah?
build/libs/

build/classes
build/reports
build/test-results
build/tmp

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

#IDEA files
.idea/
*.iml
